/* General Styles */
.App {
  text-align: center;
  width: 50vw;
  margin: auto;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Input Styles */
.label {
  font-size: 20px;
}

.input {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 10px;

  &:focus {
    border-color: #0e3762; /* Change the border color on focus */
    outline: none; /* Remove the default outline */
  }
}

/* List Box Styles */
.listBoxContainer {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 55%;
  border-radius: 10px;
  overflow: hidden;
}

.listBoxItem {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  border-bottom: 2px solid #2874f0;
  cursor: pointer;
}

.listBoxItem:last-child {
  border-bottom: none;
}

.activeItem {
  background-color: #d4cdcd;
  color: black;
}
